@import '~bootstrap/scss/bootstrap';


@import '~bootstrap/scss/bootstrap';

$background-color: #e0ebdf;
$black-font: #000;


* {
  // font-weight: lighter;
  letter-spacing: 2px;
}


body {
  background-color: $background-color;
  font-family: sans-serif;
}

table {
  width: 100%;
}
th {
  background-color: lightgrey;
}

table, th, td {
  border: 1px solid #555555;
  border-collapse: collapse;
}

th, td {
  padding: 10px 4px;
  text-align: center;
}
